/* Layout.css */

.layout-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Prevent the whole page from scrolling */
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1100;
    height: 60px;
}

.sidebar-fixed {
    width: 250px;
    position: fixed;
    top: 60px; /* Push it below the Navbar */
    bottom: 0; /* Ensure it spans the full height */
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    background-color: #f8f9fa;
}

.layout-container {
    display: flex;
    flex: 1;
    margin-top: 60px; /* Ensure the content starts below the Navbar */
}

.layout-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 70px; /* Ensure bottom padding to accommodate BottomBar height */
    padding-left: 250px; /* Ensure left padding to accommodate Sidebar */
    height: calc(100vh - 60px); /* Ensure it spans the available height */
}

.bottombar-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1100;
}

@media (max-width: 768px) {
    .sidebar-fixed {
        display: none;
    }
    .layout-content {
        padding: 20px 0; /* Ensure bottom padding for mobile view */
        padding-bottom: 70px; /* Ensure bottom padding for mobile view */
        padding-left: 0; /* No left padding on mobile */
    }
}
