/* styles/globals.css */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

.custom-link {
    margin-left: 15px;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    color: #007bff;
    transition: background-color 0.3s ease;
  }
  
  .custom-link:hover {
    background-color: #f8f9fa;
    color: #0056b3;
  }
  
  .cart-icon {
    margin-right: 20px;
    cursor: pointer;
  }
  