.scrollable-container {
    max-height: 200px; /* Adjust this height to fit up to 5 churches */
    overflow-y: auto;
    border: 1px solid #ccc; /* Optional: to visually separate the scrollable area */
    padding: 10px; /* Optional: for some padding inside the scrollable area */
}

.church-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    text-align: left; /* Ensure text is left-aligned */
}

.church-item-label {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.church-name {
    font-weight: bold;
    font-size: 1rem; /* Slightly larger font for the church name */
    display: block; /* Ensure each part is on a new line */
}

.church-details {
    font-style: italic;
    font-size: 0.8rem; /* Smaller font for address, city, state */
    color: #555;
    display: block; /* Ensure each part is on a new line */
}

.add-church-button,
.remove-church-button {
    background-color: transparent;
    border: none;
    color: #007bff;
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.add-church-button:hover {
    color: #0056b3;
}

.remove-church-button {
    color: #dc3545; /* Red color for remove icon */
}

.remove-church-button:hover {
    color: #c82333;
}

.icon-container {
    display: flex;
    align-items: center;
}

.fa-heart {
    margin-left: 5px;
    color: red;
    cursor: pointer;
}

.fa-heart:hover {
    color: darkred;
}

.add-icon {
    color: red;
    cursor: pointer;
}

.add-icon:hover {
    color: darkred;
}

.remove-icon {
    color: black; /* Set the color to black for the outline */
    cursor: pointer;
}

.remove-icon:hover {
    color: gray;
}
