.fancy-font {
    /* font-family: 'Georgia', serif; Replace 'Georgia' with your preferred web safe font */
    font-family: 'Handlee', cursive; /* Replace 'Georgia' with your preferred web safe font */
}
.header-font {
    font-family: 'Georgia', serif; 
}

.rosary-header {
    max-height: 100px; 
    overflow: hidden;
}

/* .rosary-content {
    max-height: calc(96vh - 100px); 
    overflow-y: auto;
}  */

.mystery-details-container {
    display: flex;
    justify-content: center; /* Center the container */
}

.mystery-details {
    text-align: left; /* Keep the text left-aligned */
    font-size: 16px; /* Base font size for larger screens */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .mystery-details li {
        font-size: 10px; /* Smaller font size for mobile screens */
    }
}

.tab-navigation a {
    padding: 7px;
    margin-right: 3px;
    text-decoration: none;
    color: black;
}

.tab-navigation a.active {
    font-weight: bold;
    color: blue;
}

.highlighted {
    stroke: #fff; /* White stroke for highlighting */
    stroke-width: 2; /* Thicker stroke to make the slice stand out */
  }
  
  .legend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .legend-item span:first-child {
    margin-right: 10px;
  }

  .pie-chart-container {
    width: 100%;
    max-width: 360px; /* or your preferred max width */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
