.fancy-font {
    font-family: 'Cormorant', serif;
}

.header-font {
    font-family: 'Cormorant', serif;
}

.mystery-details-container {
    display: flex;
    justify-content: center; /* Center the container */
}

.mystery-details {
    text-align: left; /* Keep the text left-aligned */
    font-size: 16px; /* Base font size for larger screens */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .mystery-details li {
        font-size: 10px; /* Smaller font size for mobile screens */
    }
}

.mystery-details li {
    display: list-item;
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0;
}

.tab-navigation a {
    padding: 7px;
    margin-right: 3px;
    text-decoration: none;
    color: black;
}

.tab-navigation a.active {
    font-weight: bold;
    color: blue;
}

.highlighted {
    stroke: #fff; /* White stroke for highlighting */
    stroke-width: 2; /* Thicker stroke to make the slice stand out */
}

.legend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-item span:first-child {
    margin-right: 10px;
}

.pie-chart-container {
    width: 100%;
    max-width: 360px; /* or your preferred max width */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* New styles */
.rosary-header {
    max-height: 100px; 
    overflow: hidden;
    text-align: center; /* Center the header content */
}

.rosary-icon {
    height: 55px;
    width: 55px;
    cursor: pointer;
}

.rosary-main {
    text-align: center;
}

.rosary-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
.rosary-nav a {
    color: darkgrey; /* Set the color for inactive tabs */
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    transition: color 0.3s ease;
    margin: 0 20px;
}

.rosary-nav a {
    padding: 10px;
    flex-grow: 1;
    text-align: center;
}

.rosary-nav a.active {
    color: black; /* Set the color for the active tab */
    font-weight: bold;
}

.rosary-nav a:hover {
    color: black; /* Optional: Set the color for hover state */
}

.mysteries-row {
    display: flex;
    justify-content: center;
    gap: 15px; /* Adjust gap between items */
    margin-top: 2rem; /* Adjust margin as needed */
}

.mystery-item {
    text-align: center;
    cursor: pointer;
}

.mystery-image {
    height: 50px;
    width: 50px;
    border-radius: 15%;
}

.mystery-details-section {
    margin-top: 2rem; /* Adjust margin as needed */
}

.prayer-intentions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensure the container takes full width */
}

/* For desktop view */
@media (min-width: 769px) {
    .prayer-intentions-list {
        max-width: 600px; /* Adjust to your preferred max width */
        width: 100%;
        padding: 10px;
        margin: auto; /* Center the list on the page */
    }
}

/* For mobile view */
@media (max-width: 768px) {
    .prayer-intentions-list {
        max-width: 90vw;
        padding: 10px;
        margin: auto; /* Center the list on the page */
    }
}


.prayer-intention-item .icon {
    font-size: 18px; /* Adjust the size as needed */
    cursor: pointer;
}

.prayer-intention-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.prayer-intention-item p {
    margin: 0;
    flex-grow: 1;
    text-align: left;
    word-break: break-word; /* Ensure long words break to the next line */
}

.form-group small {
    display: block;
    margin-top: 0.5rem;
    color: #000; /* Default color */
}

.form-group small.warning {
    color: red; /* Warning color */
}


.prayer-intention-item input {
    margin-right: 10px;
}

.prayer-intention-item .ml-2 {
    margin-left: 10px;
}

.submit-rosary-btn {
    margin-top: 1rem;
}

.selected-mystery-icon {
    width: 250px;
    height: 250px;
    display: block;
    margin: 1rem auto;
}

.centered-list {
    list-style-position: inside;
    padding: 0;
    text-align: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    width: 100%; /* Ensure full width */
    max-width: 800px; /* Set a new maximum width */
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-4 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.p-4 {
    padding: 1.5rem;
}

.text-left {
    text-align: left;
}
