.fancy-font {
    font-family: 'Cormorant', serif;
}

.header-font {
    font-family: 'Cormorant', serif;
}



.mystery-details-container {
    display: flex;
    justify-content: center; /* Center the container */
}

.mystery-details {
    text-align: left; /* Keep the text left-aligned */
    font-size: 16px; /* Base font size for larger screens */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .mystery-details li {
        font-size: 10px; /* Smaller font size for mobile screens */
    }
}

.mystery-details li {
    display: list-item;
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0;
}

.tab-navigation a {
    padding: 7px;
    margin-right: 3px;
    text-decoration: none;
    color: black;
}

.tab-navigation a.active {
    font-weight: bold;
    color: blue;
}

.highlighted {
    stroke: #fff; /* White stroke for highlighting */
    stroke-width: 2; /* Thicker stroke to make the slice stand out */
}

.legend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-item span:first-child {
    margin-right: 10px;
}

.pie-chart-container {
    width: 100%;
    max-width: 360px; /* or your preferred max width */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* New styles */
.rosary-header {
    max-height: 100px; 
    overflow: hidden;
    text-align: center; /* Center the header content */
}

.rosary-icon {
    height: 55px;
    width: 55px;
    cursor: pointer;
}

.rosary-main {
    text-align: center;
}

.rosary-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.rosary-nav a {
    padding: 7px;
    margin-right: 3px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.rosary-nav a.active {
    font-weight: bold;
    color: blue;
}

.mysteries-row {
    display: flex;
    justify-content: center;
    gap: 15px; /* Adjust gap between items */
    margin-top: 2rem; /* Adjust margin as needed */
}

.mystery-item {
    text-align: center;
    cursor: pointer;
}

.mystery-image {
    height: 50px;
    width: 50px;
    border-radius: 15%;
}

.mystery-details-section {
    margin-top: 2rem; /* Adjust margin as needed */
}

.prayer-intentions-container {
    max-width: 40vw;
    margin: 0 auto;
}

.prayer-intentions-list {
    list-style: none;
    padding: 0;
}

.prayer-intention-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prayer-intention-item p {
    margin: 0;
    flex-grow: 1;
    text-align: left;
}

.prayer-intention-item input {
    margin-right: 10px;
}

.prayer-intention-item .ml-2 {
    margin-left: 10px;
}

.submit-rosary-btn {
    margin-top: 1rem; /* Adjust margin as needed */
}

.selected-mystery-icon {
    width: 250px;
    height: 250px;
    display: block;
    margin: 1rem auto; /* Center the image */
}

/* New styles */
.centered-list {
    list-style-position: inside;
    padding: 0;
    text-align: center; /* Center align text */
}