.fancy-font {
    /* font-family: 'Georgia', serif; Replace 'Georgia' with your preferred web safe font */
    font-family: 'Cormorant', serif; /* Replace 'Georgia' with your preferred web safe font */
}
.header-font {
    font-family: 'Georgia', serif; 
}

.form-container {
    width: 80%;
    margin: 0 auto; /* Centers the form */
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .form-container {
        width: 90%; /* Wider on smaller screens */
    }
}

.radio-button-container {
    display: flex;
    align-items: center; /* This will vertically align the radio button with the label */
    margin-bottom: 10px; /* Optional: adds some space between each radio button */
}

.form-group .col-form-label {
    /* Adjust label styling as needed */
    text-align: right;
    padding-right: 10px; /* Add some spacing between label and input */
}
.confession-count {
    margin-top: 20px; /* Adjust as needed */
}

.confession-component {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}