/* index.css */

html {
  height: 100%;
  margin: 0;
}

/* src/index.css or src/styles.css (whichever file you're using for global styles) */
body {
  font-family: 'Cormorant', serif;
}

.main-page-body h1, .main-page-body p {
  font-family: 'Cormorant', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

MainPage {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content, .main-page-content {
  flex: 1;
}

@media (min-width: 768px) {
  .d-lg-none {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .d-sm-block {
    display: none !important;
  }
}

footer {
  flex-shrink: 0;
}

.main-content-container {
  margin: 40px auto;
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  .main-content-container {
    width: 1200px;
  }
}

@media (max-width: 767px) {
  .main-content-container {
    width: calc(100% - 20px);
    padding: 0 10px;
  }
}

.dashboard-link {
  margin-top: 1px;
}

.logo-img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.navbar-icon {
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: row;
  }

  .navbar-icon, .btn-link {
    margin-left: 0.5rem;
  }
}
