.main-page-body .content-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* Add this in your CSS file */
.navbar-icon {
    padding: 10px;
    display: inline-block; /* or flex depending on your navbar design */
    color: dimgray;
}

